.user-card-component {
  /* border: solid red; */
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.user-image-and-description-container::before {
  content: "";
  height: 30vmin;
  width: 30vmin;
  position: absolute;
  top: 30%;
  left: -30vmin;
  background-image: url(https://i.ya-webdesign.com/images/dot-pattern-png-4.png);
  background-size: cover;
  opacity: 0.07;
  z-index: -1;
}
.user-image-and-description-container {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  width: 32%;
  position: relative;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23cfcad7' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}
.user-image.container {
  display: inline-block;
  position: absolute;
}
.user-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.user-image-container::before {
  content: "";
  position: absolute;
  top: 13%;
  left: 0;
  width: 10%;
  border-bottom: 1px solid #eee;
}

.user-image-container::after {
  content: "User Profile";
  position: absolute;
  top: 13%;
  left: 13%;
  transform: translateY(-50%);
  color: #eee;
  font-size: 1.1rem;
}

.user-image-container {
  padding: 30px 30px 0 0;
  height: 78vh;
  position: relative;
}

.user-description h2 {
  transform: translateX(-15px);
}

.user-description {
  font-family: Roboto;
  font-weight: lighter;
  margin-bottom: auto;
  background-color: white;
  width: 78%;
  height: 30%;
  z-index: 2;
  position: absolute;
  top: 62vh;
  padding: 0 15px;
}

.information-render-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-content: center;
  /* margin-left: 5%; */
  margin-top: 2%;
  padding: 30px 20px;
}
.user-menu-container {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  border-right: 1px solid gainsboro;
}
.logo-container {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: center;
}
.user-profile-logo {
  width: 70%;
  height: 70%;
  object-fit: contain;
}
.user-page-links {
  color: grey;
  font-weight: lighter;
}
.menu-items {
  margin-left: 40px;
}
.sos-link-container {
  display: flex;
  flex-direction: column;
}
.user-sos-link {
  color: grey;
  font-weight: lighter;
  margin-left: 10%;
}
.user-menu-profile-button-unclicked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 0px;
  border-bottom: 2px solid #aaa;
  transition: all linear 200ms;
}
.user-menu-profile-button-unclicked:hover::before {
  width: 20px;
}
.user-menu-profile-button-unclicked {
  position: relative;
}

.camaraUpdate {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    z-index: 20;
    top: 7%;
    left: 84%;
    position: absolute;
    border: none;
}

.userprofileMessageContainer{
    width: 38%;
    padding-left: 5%;
    top: 23%;
    position: absolute;
    font-size: 44px;
    background: white;
    font-weight: lighter;

}

.deleteAccount {
    position: absolute;
    top: 82.5%;
    left: 30%;
}