.psychologist-profile-component{
    height: 100vh;
    width:100%;
    display:flex;
    // overflow: scroll;
    // border: solid red;

    .psychologist-menu-nav-container {
        width: 18%;
        border-right: 1px solid gainsboro;
        display: flex;
        flex-direction: column;

        .menu-nav-items {
            margin-left: 10%;

            .psychologist-page-links{
                color: grey;
                font-weight: lighter;
            }
        }

        .psychologist-sos-link{
            color: grey;
            font-weight: lighter;
            margin-left: 10%;
        }
    }

    .psychologist-menu-content-container {
        display: flex;
        width: 50%;
        flex-direction: column;
        align-content: center;
        margin-left: 5%;
        margin-top: 6%;
        .default-message-title{
            display: flex;
            font-weight: lighter;
            justify-content: center;
            margin-right: 10%;
        }
        .default-message-text{
            display: flex;
            font-weight: lighter;
            justify-content: center;
            margin-right: 10%;
            font-size: larger;
        }
    }

    .psychologist-information-container {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        width: 32%;
        // border: solid black;
        position: relative;

        .psych-image{
            width: 90%;
            height: 100%;
            z-index: 0;
        }

        .psych-description {
            font-family: Roboto;
            font-weight: lighter;
            margin-bottom: auto;
            background-color: white;
            width: 78%;
            height: 30%;
            z-index: 2;
            position: absolute;
            top: 62%;
        }
    }
}