.booking-psychologist-container {
    width: 100%;
    height: 100vh;
    /* border: solid red; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

.booking-psychologist-information-wrapper {
    /* border: solid blue; */
}

.booking-psychologist-work-info-wrapper {
    /* border: solid green; */
}

.booking-psychologist-name-warp {
    /* border: solid red; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.booking-psychologist-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.information-wrap {
    width: 100%;
    /* border: solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    border-bottom: solid #808080 0.5px;
}

.information-contianer-wrapper {
    width: 80%;
    background-color: white;
    /* border: solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.psychologistName {
    font-weight: bold;
}