.booking-calendar-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: solid blue; */
}

.booking-calendar-wrapper {
    width: 80%;
    /* border: solid green; */
    display: flex; 
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}


.bookingBox {
    width: 50%;
    /* border: solid red; */
    /* border: solid #808080 1px; */
    
    border-left: none;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 3%;
}

.bookingChoices {
    width: 100%;
    /* border: solid blue; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    word-spacing: 1em;
    border-bottom: 1px solid #ece9ea;
    padding-left: 3%;
}

.time {
    /* border: solid red */
    /* padding-left: 5%; */
}

.bookBtn {
    border: solid green;
    width: 40%;
    height: 60%;
    font-size: 16px;
    color: rgb(202, 189, 174);
    background-color: transparent;
    border: rgb(202, 189, 174) 2px solid;
    border-radius: 5px;
    margin-left: 17px;
}

.calendar {
    /* border: solid red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    /* border: solid #808080 1px; */
    border: none;
    padding-top: 3%;
}

.date-wrap {
    /* border: solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.Date {
    /* border: solid blue; */
    font-size: 90%;
}
