.thumbnail {
    min-height: 200px;
    background: transparent;
    margin: 100px;
}

.landingPage {
    width: 100vw;
    margin: 0 auto;
    background: white;
    font-size: 24px;
}

.parallax1 { 
    background: url("../images/elephant.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 830px;
    width: 100vw;
    margin-bottom: 50px;
}

.lpLogo {
    display: flex;
    background: url('../images/wcs-umbrella-icon-grey.png') no-repeat center;
    background-size: cover;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 240px;
    left: 45vw;
}

.lp-tagline{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 49%;
    left: 15%;
    font-weight: lighter;
    font-size: 25px;
    color: white;
    font-size: 58px;
}
.sidebarText {
    color: white;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 35px;
    cursor: pointer;
}

.layer {
    background-color: rgba(48, 48, 41, 0.7);
    position: absolute;
    height: 830px;
    width: 100vw;
}

#text {
    z-index: 10;
    position: absolute;
    color: white;
    left: 48vw;
    top: 518px;
    font: 'Roboto';
    font-size: 25px;
    font-weight: lighter;
    transform: translate(-50%, -50%);
}

.middleImageContainer {
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 100px;
    margin-top: 150px;
}

.leftMiddleImage {
    background: url('../images/leaves.jpeg');
    height: 560px;
    width: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.rightMiddleImage {
    display: flex;
    justify-content: center;
    height: 560px;
    width: 550px;
    background-color: rgb(232, 221, 208);
    margin-left: 20px;
}

#textMiddleImage {
    z-index: 10;
    position: absolute;
    color: black;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    font-size: 44px;
    font-family: 'Roboto';
    top: 142%;
    left: 57%;
}

.about-us-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.about-us-text{
    text-align: justify;
    padding: 20px;
    line-height: 1.5;
    margin-top: 108px;
    font-weight: lighter;
}

.parallax2 {
    background: url("../images/birds.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    width: 100vw;
    margin-bottom: 40px;
    position: relative;
}

.psychoList {
    font-family: 'Roboto';
    color: black;
    font-size: 44px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.buttoWrapper {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.displayMoreDocs {
    width: 110px;
    height: 40px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 5px;
}

.doctContainer {
    display: flex;
    flex-direction: column;
}

.squareInfo > div + div {
    flex-grow: 1;
}

.squareInfo > div + div > form {
    height: 100%;
}

.squareInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 475px;
    background-color: rgba(232,221,208,1);
    z-index: 10;
    position: absolute;
    color: black;
    font-size: 16px;
    left: 50%;
    top: 200px;
    font: 'Roboto';
    font-weight: 300;
    padding: 15px;
}

#text2 {
    font-family: 'Roboto';
    color: black;
    font-size: 38px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    margin: 0 0 10px;
}


.qustionaryInput {
    display: flex;
    align-items: center;
    width: 250px;
    height: 30px;
    background-color: white;
    margin: 6px;
    border-radius: 5px;
    border: transparent;
    padding-left: 15px;
}

.inputQuestionsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qustionaryInputText {
    display: flex;
    align-items: center;
    width: 250px;
    height: 200px;
    flex-grow: 1;
    background-color: white;
    margin: 12px;
    border-radius: 5px;
    border: transparent;
    padding-left: 15px;
    padding-top: 15px;
    resize: none;
    font-family: 'Arial';
    margin-top: 6px;
}

::placeholder {
    font-size: 15px;
}

.qustionaryButton {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 40px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: rgb(0, 0, 0)2px solid;
    border-radius: 7px;
}

.sidebarBox {
    width: 20%;
    min-height:100%;
    transition: right 1.2s ease;
    background: black;
    position: absolute;
    right: -20%;
    z-index: 20;
}

.sidebarVisible {
    right: 0%;
    position: fixed;
}

.sidebarToggle {
    height: 55px;
    width: 55px;
    position: fixed;
    z-index: 20;
    background-color: black;
    background-size: cover;
    border: transparent;
    right: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    transition: right 1.2s ease;
}

.sidebarToggleVisible {
    right: 21%;
    position: fixed;
}

.sidebarLine {
    display: flex;
    width: 40px;
    height: 4px;
    background-color: white;
    z-index: 21;
    margin-top: 10px;
    margin-left: 7px;
}

.triangle_down1 {
    position: relative;
    top: 700px;
    left: 45%;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-right: 0.1em solid white;
    border-top: 0.1em solid white;
    transform: rotate(135deg);
    margin-right: 0.5em;
    margin-left: 1.0em;
    z-index: 40;
}