.patient-card-title{
    color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 2%;
}

.add-new-patient-button{
    color: white;
    border-radius: 15%;
    width: 20%;
    height: 60%;
    margin-top: 3%;
    border: none;
    background: linear-gradient(to right, #0ECE1B 0%, #4140A4 0%, #C53FB4 100%);
}

.patient-labels-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 2px gainsboro solid;
    font-family: Roboto;
    color: grey;
    padding-top: 5%;
    padding-bottom: 5%;
}

.patient-labels{
    font-weight: bold;
    display: flex;
    width: 25%;
}

.patient-card-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/

}
.patient-cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid #ece9ea;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;

}
.patient-card-content{
    display: flex;
    width: 25%;
}

.patients-container{
    border-radius: 15px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.add-new-patient-container{
    display: flex;
    width: 90%;
    justify-content: flex-end;
}