.myAppointments-cards-container{
    width: 100%;
    /* border: solid red; */
    background-color: #fff;
    padding: 7px 5px;
    border-bottom: 1px solid #000;
}

.myAppointments-container {
    width: 100%;
    overflow-y: scroll;
    height: 50%;
}

.myAppointments-labels-container {
    /* border: solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.myAppointments-labels {
    width: 25%;
    /* border: solid blue; */
    display: flex;
    justify-content: center;
}

.myAppointments-card-content {
    /* border: solid blue; */
    width: 25%;
    display: flex;
    justify-content: center;
}