// @media all and (min-device-width: 1200px) {
//     .participant {
//         max-width: 720px;
//     } 
// }

.room {
    box-sizing: border-box;
    width: 100%;
    height: 94vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // border: solid red;
    position: relative;
    background-color: white;

    
    .header {
        // border: solid green;
        margin: 0;
        width: 100%;
        height: 5%;
        position: absolute;
        top: 0%;
        left: 0%;
    }
    
    
    .local-participant {
        width: 41%;
        // height: 100%;
        // border: solid blue;
        position: relative;
        position: absolute;
            
        // display: flex;
        // justify-content: space-evenly;
        // flex-direction: row;
        // align-items: center;

        .participant {
            // width: 100%;
            // height: 100%;

            // border: solid green;

            video {
                width: 100%;
                max-width: 1080px;
            }
        }    


        .remote-participants {
            width: 30%;
            // height: 30%;
            // border: solid black;
            position: absolute;
            top: 0%;
            left: 70%;

            .participant {
                // width: 100%;
                // height: 100%;
                // border: solid brown;

                video {
                    width: 100%;
                }
            }
        }
        .buttonWrap {
            // border: solid green;
            background-color: white;
            
            display: flex;
            justify-content: center;

            .logoutButton {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: url('../images/dropCall.png');
                background-size: cover;
                background-repeat: no-repeat;
                border: none;
            }
        }
    }
}
