@media all 
  and (min-device-width: 320px)
  and (max-device-width: 480px) {
        .local-participant {
            max-width: 480px;
        } 
    }

@media all 
    and (min-device-width: 480px)
    and (max-device-width: 568px) {
        .local-participant {
            max-width: 568px;
        } 
    }

@media all 
    and (min-device-width: 568px)
    and (max-device-width: 667px) {
        .local-participant {
            max-width: 667px;
        } 
    }

@media all 
    and (min-device-width: 667px)
    and (max-device-width: 736px)  {
        .local-participant {
            max-width: 736px;
        } 
    }

@media all 
    and (min-device-width: 736px)
    and (max-device-width: 812px)  {
        .local-participant {
            max-width: 812px;
        } 
    }

@media all 
    and (min-device-width: 812px)
    and (max-device-width: 1080px) {
        .local-participant {
            max-width: 760px;
        } 
    }

@media all
  and (min-device-width: 1080px) 
  and (max-device-width: 1366px) { 
    .local-participant {
        max-width: 560px;
    } 
}

@media all
  and (min-device-width: 1366px) 
  and (max-device-width: 4000px) { 
    .local-participant {
        max-width: 940px;
    } 
}

@media all
    and (device-width: 1366px)
    and (device-height: 768px){
    .local-participant{
        max-width: 760px;
    }
}

@media all
    and (device-width: 3840px)
    and (device-height: 2160px){
    .local-participant{
        max-width: 2160px;
    }
}

.room {
    box-sizing: border-box;
    width: 100%;
    height: 94vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // border: solid red;
    position: relative;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    
    .header {
        // border: solid green;
        margin: 0;
        width: 100%;
        height: 5%;
        position: absolute;
        top: 0%;
        left: 0%;

    }
    
    
    .local-participant {
        width: 100%;
        position: relative;
        //position: absolute;

        .participant {
            video {
                width: 100%;
                max-width: 1080px;
                border-radius: 20px;
                -webkit-box-shadow: 0px 0px 50px 13px rgba(255,255,255,0.37);
                box-shadow: 0px 0px 50px 13px rgba(255,255,255,0.37);
            }
        }    


        .remote-participants {
            width: 30%;
            position: absolute;
            top: 0%;
            left: 70%;

            .participant {
                video {
                    width: 100%;
                }
            }
        }
        .buttonWrap {
            // border: solid green;
            display: flex;
            justify-content: center;
            position: absolute;
            top: 88%;
            left: 49%;

            .logoutButton {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: url('../images/dropCall.png');
                background-size: cover;
                background-repeat: no-repeat;
                border: none;
            }
        }
    }
}
