.calendar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: solid red; */
  }
  
  .dates-container {
    list-style-type: none;
    margin: unset;
    padding: unset;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  
  .dates-container li {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .dates-container li.active {
    border-top: solid thin #F26922;
    border-left: solid thin #F26922;
    border-right: solid thin #F26922; 
    border-bottom: none;
    align-items: center;
  }
  
  .dates-container button{
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 1rem 0;
    line-height: 1.4rem;
    font-weight: 600;
  }
  
  .dates-container button.screen_reader_only {
    flex-grow: unset;
    font-size: 10px;
    line-height: unset;
    padding: 3px 0;
    margin-bottom:5px;
    border: solid thin orange;
    background-color: #F26922;
    color: #ffffff;
    border-radius: 8px;
    width: 80%;
    
  }
  
  .dates-container li.active button {
    border-bottom: unset; 
  }
  

  button:disabled {
    opacity: .45; 
  }
  
  button.active { 
    color: #F26922;
  }
  
  .schedule-container {
    display: flex;
    flex-direction: row;
    padding: 0 75px;
  }
  
  .fitness-classes {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: unset;
    padding: unset;
  }
  
  .class-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: solid rgb(237, 237, 237) 1px;
  }
  
  .class-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }
  
  .class-time {
    font-size: 2rem;
    margin-right: 100px;
    min-width: 170px;
  }
  
  .class-details button {
    padding: 10px 30px;
    width: 150px;
    border-radius: 20px;
    justify-content: center;
    font-style: italic;
     border: unset;
  }
  
  .class-details button.sign-up{
    background-color: #F26922;
    color: #ffffff;
  }
  
  .class-details button.wait-list{
    border: #F26922 thin solid;
    color: #F26922;
  }
  
  .class-details button.class-full{
    background-color: #F5F5F5;
    color: #6F767B;
  }
  
  .class-specs {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
  }
  
  .instructor-name {
    color: #F26922;
  }
  
  
  
  @media only screen and (max-width: 768px) {
    .class-content {
      flex-direction: column; 
      align-items: flex-start;
    }
    
    button {
      padding: 1rem 1rem;
      background-color: unset;
    }
    
    .dates-container button {
      font-size: .8rem;
      line-height: 1.1rem;
    }
    
    .schedule-container {
      padding: 0 41px;
    }
    
    .class-time {
      font-size: 1.8rem;
      margin-right: unset;
      min-width: 130px;
    }
    
    .class-details button {
      padding: 10px 20px;
      width: 130px;
      border-radius: 20px;
      justify-content: center;
    }
  }